<html>
<head>
    <title>新闻人物言论自动提取</title>
    <link rel=icon href="./static/images/pika.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body oncontextmenu=self.event.returnValue=false onselectstart="return false">
	<div class="contain">
        <iframe name="fly_words" src="{{ url_for('fly_words') }}?s={{ fly_str }}" style="width: 100%; height: 500px" frameborder="" scrolling="no">
    </iframe>
	</div>

    <div class="contain">
        <p class="title">新 闻 人 物 言 论 自 动 提 取 系 统</p>
    </div>

    <form action="{{ url_for('extra') }}" method="post">
    <div class="contain">
		<textarea class="textarea" placeholder="*在此输入新闻内容（默认：国台办表示中国必然统一。会尽最大努力争取和平统一，但绝不承诺放弃使用武力。台湾人民说回归中国好啊）" name="news"></textarea>
    </div>
    <div class="contain">
        <button type="submit" formtarget="_blank">Go pikapika</button>
{#        <input type="submit" value="Go pikapika">#}
    </div>
    </form>

</body>
</html>